 
<div class="row cleartopofitem">
  <div class="col-xl-12">
    <button class="btn btn-primary">
     add recipe
    </button>    

  </div>
</div>
<hr>
<div class="row cleartopofitem">
  <div class="col-xl-12 cleartopofitem" *ngFor="let recipe of RecipeList">
    <a href="#" class="list-group-item clearfix " >
     
      
      
        <h4 class="list-group-item-heading"> {{recipe.Name}}</h4>
        <br>
        <img [src]="recipe.ImagePath" alt="{{recipe.Name}}"  style="max-height: 150px;">

        <p class="list-group-item-text cleartopofitem">
         {{recipe.Description}}
        </p>
      
     
    </a>
   
  </div>
  <div class="col-xl-12 cleartopofitem">
  <app-recipe-card></app-recipe-card>

  </div>
</div>

